/* Google font */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Inter", sans-serif; 
}

:root{
    --tRed:#FF0000;
    --ttLightRed:#F2EEEA;
    --ttGray:#b5b5b5;
    --ttGray2:#808080;
    --black:#000;
    --white:#fff;
    --tt-pink:#f820a3;
    --tt-gold:#ffa945;
    --tt-gradient-1:linear-gradient(90deg, var(--tt-pink) 0%, var(--tt-gold) 100%);
    --tt-gradient-2:linear-gradient(90deg, var(--tt-gold) 0%, var(--tt-pink) 100%);
    --transition-06: all 0.6s ease-in-out;
    --transition-04: all 0.4s ease-in-out;
}


/* Common Css */
.btn{
    width: 160px;
    height: 50px;
    border: none;
    border-radius: 8px;
    background: var(--tt-gradient-1);
    cursor: pointer;
    overflow: hidden;
    z-index: 1;
    position: relative;
}

.btn a{
    color: var(--white) !important;
    font-size: 1.1rem;
    position: relative;
    z-index: 9;
}

.btn::before{
    content: "";
    position: absolute;
    top: 0%;
    left: -100%;
    width: 100%;
    height: 100%;
    background: var(--tt-gradient-1);
    z-index: 9;
    transition: var(--transition-06);
}

.btn:hover::before{
    left:0%;
}


body{
    background-color:#2d2d2d;
}

nav{
    height: 90px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0%;
    left: 5%;
    padding: 0 8%;
    border-radius: 0 0 30px 30px;
    z-index: 999;
    background: rgba(255,255,255,.5);
    transition: var(--transition-06);
}

nav .logo{
    width: 130px;
}
.logo a{
    font-size:2rem;
    font-weight: 400;
    color: var(--black);    
}

nav .menu{
    display: flex;
    align-items: center;
    gap: 50px;
}

nav.menu li a{
    color: var(--black);
    font-size: 1rem;
    font-weight: 500;
    transition: var(--transition-06);
}
nav .menu li a:hover{
    background: var(--tt-gradient-1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#open_menu{
    display: none;
}
.sidebar_menu{
    display: none;
}

@media screen and (max-width:900px) {
    nav{
        left: 0%;
        width: 100%;
    }
    #open_menu{
        display: block;
        font-size: 2rem;
        font-weight: 500;
        cursor: var(--black);
    }
    .menu{
        display: none !important;
    }

    /* Sidebar menu */
    .sidebar_menu{
        display: block;
        min-height: 100vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        position: absolute;
        right: -100%;
        top: 0%;
        width: 35%;
        opacity: 0;
        background-color: var(--white);
        transition: var(--transition-04);
    }
    .active{
        opacity: 1;
        right: 0%;
    }
    .sidebar_top{
        width:100%;
        display: flex;
        flex-direction: column;
    }
    .sidebar_top li:nth-child(1){
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .sidebar_menu li{
        width: 100%;
        border-bottom: 1px solid var(--ttGray);
        padding: 20px 8px;
    }
    .sidebar_menu li a{
        font-weight: 500;
    }
    #close_menu{
        font-size: 1.5rem;
        padding-right: 16px;
    }
    .sidebar_bottom{
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        padding: 30px 20px;
        gap: 14px;
    }
    .sidebar_bottom button{
        width: 100%;
        margin-left: 0;
    }
    .social_Icon{
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 14px;
    }
    .social_Icon i{
        border : 1px solid var(--ttGray2);
        padding: 8px;
        border-radius: 30px;
        font-size: 1.2rem;
        background: var(--tt-gradient-1);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        transition: var(--transition-06);
    }
    .social_Icon i:hover{
        border: none;
        background: var(--tt-gradient-2);
        -webkit-text-fill-color: var(--white);
        
    }
}
